In [8]:
import os
from pathlib import Path, PureWindowsPath
import pandas as pd

In [4]:
os.path.dirname(os.getcwd())

'C:\\Users\\Cornelius\\Documents\\GitHub\\Store-Sales'

In [5]:
path_cwd = Path(PureWindowsPath(os.path.dirname(os.getcwd())))
path_cwd

WindowsPath('C:/Users/Cornelius/Documents/GitHub/Store-Sales')

In [6]:
path = path_cwd / 'data'
path

WindowsPath('C:/Users/Cornelius/Documents/GitHub/Store-Sales/data')

In [12]:
df_train = pd.read_csv(path / 'train.csv')

In [13]:
df_train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [17]:
df_train[(df_train['store_nbr']==1) & (df_train['family']=='BEAUTY') & (df_train['date']<'2013-02-15')]

          id        date  store_nbr  family  sales  onpromotion
2          2  2013-01-01          1  BEAUTY    0.0            0
1784    1784  2013-01-02          1  BEAUTY    2.0            0
3566    3566  2013-01-03          1  BEAUTY    0.0            0
5348    5348  2013-01-04          1  BEAUTY    3.0            0
7130    7130  2013-01-05          1  BEAUTY    3.0            0
8912    8912  2013-01-06          1  BEAUTY    0.0            0
10694  10694  2013-01-07          1  BEAUTY    1.0            0
12476  12476  2013-01-08          1  BEAUTY    3.0            0
14258  14258  2013-01-09          1  BEAUTY    1.0            0
16040  16040  2013-01-10          1  BEAUTY    3.0            0
17822  17822  2013-01-11          1  BEAUTY    2.0            0
19604  19604  2013-01-12          1  BEAUTY    0.0            0
21386  21386  2013-01-13          1  BEAUTY    0.0            0
23168  23168  2013-01-14          1  BEAUTY    2.0            0
24950  24950  2013-01-15          1  BEAUTY    0.0            0
26732  26732  2013-01-16          1  BEAUTY    2.0            0
28514  28514  2013-01-17          1  BEAUTY    2.0            0
30296  30296  2013-01-18          1  BEAUTY    4.0            0
32078  32078  2013-01-19          1  BEAUTY    4.0            0
33860  33860  2013-01-20          1  BEAUTY    1.0            0
35642  35642  2013-01-21          1  BEAUTY    0.0            0
37424  37424  2013-01-22          1  BEAUTY    1.0            0
39206  39206  2013-01-23          1  BEAUTY    0.0            0
40988  40988  2013-01-24          1  BEAUTY    0.0            0
42770  42770  2013-01-25          1  BEAUTY    2.0            0
44552  44552  2013-01-26          1  BEAUTY    1.0            0
46334  46334  2013-01-27          1  BEAUTY    0.0            0
48116  48116  2013-01-28          1  BEAUTY    0.0            0
49898  49898  2013-01-29          1  BEAUTY    3.0            0
51680  51680  2013-01-30          1  BEAUTY    3.0            0
53462  53462  2013-01-31          1  BEAUTY    2.0            0
55244  55244  2013-02-01          1  BEAUTY    0.0            0
57026  57026  2013-02-02          1  BEAUTY    4.0            0
58808  58808  2013-02-03          1  BEAUTY    3.0            0
60590  60590  2013-02-04          1  BEAUTY    0.0            0
62372  62372  2013-02-05          1  BEAUTY    3.0            0
64154  64154  2013-02-06          1  BEAUTY    3.0            0
65936  65936  2013-02-07          1  BEAUTY    1.0            0
67718  67718  2013-02-08          1  BEAUTY    2.0            0
69500  69500  2013-02-09          1  BEAUTY    4.0            0
71282  71282  2013-02-10          1  BEAUTY    0.0            0
73064  73064  2013-02-11          1  BEAUTY    0.0            0
74846  74846  2013-02-12          1  BEAUTY    0.0            0
76628  76628  2013-02-13          1  BEAUTY    2.0            0
78410  78410  2013-02-14          1  BEAUTY    1.0            0