In [2]:
pip install prophet

Requirement already satisfied: prophet in c:\python310\lib\site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\python310\lib\site-packages (from prophet) (1.2.1)
Requirement already satisfied: numpy>=1.15.4 in c:\python310\lib\site-packages (from prophet) (1.23.3)
Requirement already satisfied: matplotlib>=2.0.0 in c:\python310\lib\site-packages (from prophet) (3.6.0)
Requirement already satisfied: pandas>=1.0.4 in c:\python310\lib\site-packages (from prophet) (1.5.0)
Requirement already satisfied: holidays>=0.25 in c:\python310\lib\site-packages (from prophet) (0.43)
Requirement already satisfied: tqdm>=4.36.1 in c:\python310\lib\site-packages (from prophet) (4.64.1)
Requirement already satisfied: importlib-resources in c:\python310\lib\site-packages (from prophet) (6.1.1)
Requirement already satisfied: stanio~=0.3.0 in c:\python310\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.3.0)
Requirement already satisfied: python-dateutil in c:\python310\lib\site-packages (from holidays>=0.25->prophet) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\python310\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\python310\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\python310\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python310\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\alecb\appdata\roaming\python\python310\site-packages (from matplotlib>=2.0.0->prophet) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\python310\lib\site-packages (from matplotlib>=2.0.0->prophet) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\alecb\appdata\roaming\python\python310\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas>=1.0.4->prophet) (2022.2.1)
Requirement already satisfied: colorama in c:\users\alecb\appdata\roaming\python\python310\site-packages (from tqdm>=4.36.1->prophet) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil->holidays>=0.25->prophet) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
# Connect to server
#import pyodbc
#from dotenv import dotenv_values

# Datetime
from datetime import datetime

# Data manipulation
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import seaborn as sns
import missingno as msno
from prophet.plot import plot_plotly, plot_components_plotly

# Decomposition
from statsmodels.tsa.seasonal import seasonal_decompose

# Statistical Analysis
import scipy.stats as stats
from statsmodels.stats.weightstats import ttest_ind
import statsmodels.api as sm
#from pmdarima.arima import CHTest, nsdiffs
#from arch.unitroot import ADF, KPSS
from statsmodels.stats.diagnostic import acorr_ljungbox
#import phik
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import ExponentialSmoothing

# Machine Learning Modeling
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import RandomizedSearchCV
#import xgboost as xgb
from sklearn.metrics import mean_squared_error
import joblib
from sklearn.pipeline import Pipeline
from prophet import Prophet

import os

import random

import warnings

# ignore warnings
warnings.filterwarnings('ignore')

from pathlib import Path, PureWindowsPath

### Import data

In [41]:
path_cwd = Path(PureWindowsPath(os.path.dirname(os.getcwd())))
path_cwd
path = path_cwd / 'data/processed'

In [42]:
df_test_p = pd.read_pickle(path / 'df_test_fb.pkl')
df_train_p = pd.read_pickle(path / 'df_train_fb.pkl')

In [43]:
from sklearn.preprocessing import LabelEncoder

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the 'family' column
df_train_p['family_enc'] = label_encoder.fit_transform(df_train_p['family'])
df_test_p['family_enc'] = label_encoder.fit_transform(df_test_p['family'])

In [44]:
model_df = df_train_p[['date', 'sales', 'family_enc']]
model_df.columns = ['ds', 'y', 'family_enc']
model_df['ds'] = pd.to_datetime(model_df['ds'])

In [45]:
model_df_test = df_test_p[['date', 'sales', 'family_enc']]
model_df_test.columns = ['ds', 'y', 'family_enc']
model_df_test['ds'] = pd.to_datetime(model_df_test['ds'])

In [46]:
m = Prophet()
m.add_regressor('family_enc')
m.fit(model_df)

14:29:36 - cmdstanpy - INFO - Chain [1] start processing
14:30:04 - cmdstanpy - INFO - Chain [1] done processing

In [47]:
df_test_p

,date,sales,family,familycluster,store_nbr,family_enc
28624,2015-05-21,15.000,GROCERY II,1,1,13
28622,2015-05-21,100.000,FROZEN FOODS,1,1,11
28621,2015-05-21,128.000,EGGS,5,1,10
28620,2015-05-21,133.041,DELI,5,1,9
28619,2015-05-21,625.000,DAIRY,5,1,8
...,...,...,...,...,...,...
526028,2015-06-14,699.000,DAIRY,5,18,8
1067433,2015-06-14,52.000,HOME AND KITCHEN I,0,29,15
1067444,2015-06-14,1.000,PET SUPPLIES,0,29,26
1067445,2015-06-14,6.000,PLAYERS AND ELECTRONICS,0,29,27
526022,2015-06-14,1.000,BEAUTY,5,18,2

In [48]:
forecast = m.predict(model_df_test.drop(columns="y"))

In [49]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,extra_regressors_additive,...,family_enc,family_enc_lower,family_enc_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2015-05-21,262.165171,-882.260178,1405.457179,262.165171,262.165171,-18.498294,-18.498294,-18.498294,50.705869,...,50.705869,50.705869,50.705869,-69.204163,-69.204163,-69.204163,0.0,0.0,0.0,243.666877
1,2015-05-21,262.165171,-1063.416458,1147.164932,262.165171,262.165171,-221.321771,-221.321771,-221.321771,-152.117608,...,-152.117608,-152.117608,-152.117608,-69.204163,-69.204163,-69.204163,0.0,0.0,0.0,40.843400
2,2015-05-21,262.165171,-1066.641596,1106.127730,262.165171,262.165171,-238.223728,-238.223728,-238.223728,-169.019564,...,-169.019564,-169.019564,-169.019564,-69.204163,-69.204163,-69.204163,0.0,0.0,0.0,23.941444
3,2015-05-21,262.165171,-1094.850203,1140.285585,262.165171,262.165171,-255.125684,-255.125684,-255.125684,-185.921520,...,-185.921520,-185.921520,-185.921520,-69.204163,-69.204163,-69.204163,0.0,0.0,0.0,7.039487
4,2015-05-21,262.165171,-1144.812582,1039.270636,262.165171,262.165171,-272.027640,-272.027640,-272.027640,-202.823477,...,-202.823477,-202.823477,-202.823477,-69.204163,-69.204163,-69.204163,0.0,0.0,0.0,-9.862469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40981,2015-06-14,231.192212,-612.341137,1742.804268,-50.792839,532.412506,292.268723,292.268723,292.268723,185.921520,...,185.921520,185.921520,185.921520,106.347203,106.347203,106.347203,0.0,0.0,0.0,523.460935
40982,2015-06-14,231.192212,-507.274486,1670.140384,-50.796435,532.429057,309.170680,309.170680,309.170680,202.823477,...,202.823477,202.823477,202.823477,106.347203,106.347203,106.347203,0.0,0.0,0.0,540.362891
40983,2015-06-14,231.192212,-606.218211,1749.448470,-50.800030,532.445609,326.072636,326.072636,326.072636,219.725433,...,219.725433,219.725433,219.725433,106.347203,106.347203,106.347203,0.0,0.0,0.0,557.264848
40984,2015-06-14,231.192212,-559.929866,1664.821011,-50.803625,532.462160,342.974592,342.974592,342.974592,236.627390,...,236.627390,236.627390,236.627390,106.347203,106.347203,106.347203,0.0,0.0,0.0,574.166804
40985,2015-06-14,231.192212,-630.217842,1765.615209,-50.807220,532.478712,342.974592,342.974592,342.974592,236.627390,...,236.627390,236.627390,236.627390,106.347203,106.347203,106.347203,0.0,0.0,0.0,574.166804

In [50]:
forecast['yhat']

0        243.666877
1         40.843400
2         23.941444
3          7.039487
4         -9.862469
            ...
40981    523.460935
40982    540.362891
40983    557.264848
40984    574.166804
40985    574.166804
Name: yhat, Length: 40986, dtype: float64

In [51]:
# Define a function to compute the evaluations metrics after the forecast
def evaluate_forecast(y_test, forecast):
    """
    Compute MSE, RMSE, and RMSLE for a forecast.

    Parameters:
    y_test (array-like): Actual values.
    forecast (array-like): Predicted values.

    Returns:
    dict: Dictionary containing MSE, RMSE, and RMSLE.
    """
    def rmsle(predicted, actual):
        return np.sqrt(np.mean(np.square(np.log1p(predicted) - np.log1p(actual))))

    # Compute Mean Squared Error (MSE)
    mse = mean_squared_error(y_test, forecast)
    
    # Compute Root Mean Squared Error (RMSE)
    rmse = np.sqrt(mse)
    
    # Compute Root Mean Squared Logarithmic Error (RMSLE)
    rmsle_value = rmsle(forecast, y_test)
    
    # Return the evaluation metrics as a dictionary
    metrics = {
        'MSE': mse,
        'RMSE': rmse,
        'RMSLE': rmsle_value
    }
    
    return metrics

In [64]:
# Updated plot_predictions to work with dataframes where the date is not already aggregated
# This simply aggregates the dates inside the function
def plot_predictions(date, y_test, y_pred, forecast_label, title):
    """
    Plot the actual and predicted time series data.

    Parameters:
    date (array-like): Date or time index.
    y_test (array-like): Actual values.
    y_pred (array-like): Predicted values.
    forecast_label (str): Label for the forecasted data.
    title (str): Title for the plot.
    """
    # Combine the data into a DataFrame
    data = pd.DataFrame({'Date': date, 'Actual': y_test, 'Predicted': y_pred})
    
    # Aggregate the data by date, taking the mean of the values for each day
    data = data.groupby('Date').mean().reset_index()
    
    # Set the custom color palette
    custom_palette = sns.color_palette("husl", 2)
    sns.set_palette(custom_palette)
    
    # Create a figure with specified dimensions
    plt.figure(figsize=(10, 6))

    # Plot the actual data in green
    sns.lineplot(data=data, x='Date', y='Actual', label='Actual', color=custom_palette[0])

    # Plot the predicted data in blue with the specified label
    sns.lineplot(data=data, x='Date', y='Predicted', label=forecast_label, color=custom_palette[1])

    # Add a legend to the plot
    plt.legend()

    # Set the title of the plot
    plt.title(title)

    # Rotate x-axis labels for better readability
    plt.xticks(rotation=45)

    # Display the plot
    plt.show()

In [52]:
evaluate_forecast(model_df_test['y'], forecast['yhat'])

{'MSE': 1414095.0179286543,
 'RMSE': 1189.1572721590085,
 'RMSLE': 3.554668053941528}

In [58]:
df_test_all = pd.read_pickle(path / 'df_test.pkl')
df_train_all = pd.read_pickle(path / 'df_train.pkl')

In [63]:
df_train_all.columns

Index(['id', 'ds', 'store_nbr', 'family', 'y', 'onpromotion', 'cluster',
       'familycluster', 'day_of_week', 'month', 'year', 'oil_price',
       'holiday_Carnaval', 'holiday_Dia de la Madre',
       'holiday_Dia del Trabajo', 'holiday_Fundacion de Quito',
       'holiday_Independencia de Cuenca',
       'holiday_Mundial de futbol Brasil: Ecuador-Suiza', 'holiday_Navidad-1',
       'holiday_Navidad-2', 'holiday_Navidad-3', 'holiday_Navidad-4',
       'holiday_Primer dia del ano', 'holiday_Terremoto Manabi+1',
       'holiday_Terremoto Manabi+2', 'holiday_Terremoto Manabi+3',
       'holiday_Terremoto Manabi+4', 'holiday_Terremoto Manabi+5',
       'holiday_Traslado Primer dia del ano'],
      dtype='object')

In [60]:
model_df_all = df_train_all
model_df_test_all = df_test_all
model_df_all.rename(columns = {'date':'ds'}, inplace = True)
model_df_all.rename(columns = {'sales':'y'}, inplace = True)
model_df_all['ds'] = pd.to_datetime(model_df_all['ds'])
model_df_test_all.rename(columns = {'date':'ds'}, inplace = True)
model_df_test_all.rename(columns = {'sales':'y'}, inplace = True)
model_df_test_all['ds'] = pd.to_datetime(model_df_test_all['ds'])

In [61]:
model_df_all

,id,ds,store_nbr,family,y,onpromotion,cluster,familycluster,day_of_week,month,...,holiday_Navidad-2,holiday_Navidad-3,holiday_Navidad-4,holiday_Primer dia del ano,holiday_Terremoto Manabi+1,holiday_Terremoto Manabi+2,holiday_Terremoto Manabi+3,holiday_Terremoto Manabi+4,holiday_Terremoto Manabi+5,holiday_Traslado Primer dia del ano
1125201,1298293,2015-01-01,37,CLEANING,0.0,0.000000,2,5,3,1,...,False,False,False,True,False,False,False,False,False,False
1125202,1298518,2015-01-01,43,BABY CARE,0.0,0.000000,10,0,3,1,...,False,False,False,True,False,False,False,False,False,False
1125203,1298517,2015-01-01,43,AUTOMOTIVE,0.0,0.000000,10,5,3,1,...,False,False,False,True,False,False,False,False,False,False
1125204,1299045,2015-01-01,9,AUTOMOTIVE,0.0,0.000000,6,5,3,1,...,False,False,False,True,False,False,False,False,False,False
1125205,1298298,2015-01-01,37,GROCERY I,0.0,0.000000,2,5,3,1,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318147,1510489,2015-04-30,40,GROCERY II,13.0,0.000000,3,1,3,4,...,False,False,False,False,False,False,False,False,False,False
1318148,1510485,2015-04-30,40,DELI,303.0,0.067476,3,5,3,4,...,False,False,False,False,False,False,False,False,False,False
1318149,1510508,2015-04-30,40,SEAFOOD,1.0,0.001350,3,3,3,4,...,False,False,False,False,False,False,False,False,False,False
1318150,1510491,2015-04-30,40,HOME AND KITCHEN I,67.0,0.001350,3,0,3,4,...,False,False,False,False,False,False,False,False,False,False
1318151,1510490,2015-04-30,40,HARDWARE,0.0,0.000000,3,4,3,4,...,False,False,False,False,False,False,False,False,False,False

In [62]:
c = Prophet()
for i in model_df_all.drop(columns = ['ds', 'y']).columns:
    c.add_regressor(i)
c.fit(model_df_all)

ValueError: Unable to parse string "CLEANING" at position 0

In [56]:
forecast = c.predict(model_df_test_all.drop(columns="y"))

Exception: Model has not been fit.

In [57]:
evaluate_forecast(model_df_test_all['y'], forecast['yhat'])

{'MSE': 1414095.0179286543, 'RMSE': 1189.1572721590085, 'RMSLE': nan}